body {
  margin: 0;
  background-color: wheat;
}

.game-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.game-box canvas {
  margin: 0 auto;
}

.fontLoader {
  font-family: 'VT323';
  position: absolute;
  left: -1000px;
  visibility: hidden;
}