ul, li {
  font-size: 3rem;
  list-style-type: none;
  color: tomato;
}

li span {
  display: inline-block;
  margin-right: 10rem;
}

html, body {
  background-color: wheat;
}

h1 {
  text-align: center;
  font-size: 4rem;
  color: tomato;
}
